@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.imgportafolio, .formulario, .whatwedo, .opiniones{
  background-color: #f5f5f5;
  padding: 25px;
}

/* HEADER */
header{
	background-color: #34495e;
}
.navbar-nav a{
  color:#f5f5f5;
}
.navbar-toggle{
  background-color: gray;
}
.navbar-toggle span {
  background-color: white;
}
.nav li a:hover {
  background-color: #696969;
}
/* ABOUTUS */
.postheader{
	background-color: #2ECC71;
	color: white;
	padding: 40px;
}
/* PRE-FOOTER */
.pre-footer, footer{
  color:#F5F5F5;
  padding: 25px;
}
.pre-footer{
  background-color: #34495e;  
}
/* FOOTER */
footer{
  background-color: #2c3e50;
}
.direccion{
  list-style-type: none;
}
.go{
  background-color: #d9534f;
}

/* WHATWEARE */
.whatweare{
	background-color:#F5F5F5;
	padding: 30px;
}
/* MEET */
.meet{
	background-color:#F5F5F5;
	text-align: center;
}
.team{
	border-radius: 100px;
  border: 2px solid white;
}
.fa1{
  border-radius: 100px;
  background: blue;
  font-size: 18px;
  padding: 10px;
  color: white;
}
.fa2{
  border-radius: 100px;
  background: red;
  font-size: 20px;
  padding: 10px;
  color: white;
}
.fa3{
  border-radius: 100px;
  background: #5cceff;
  font-size: 15px;
  padding: 12px;
  color: white;
}
.fa4{
  border-radius: 100px;
  background: #21a6d8;
  font-size: 20px;
  padding: 10px;
  color: white;
}
/* CONTACTANOS */
.formulario{
  color: black;
  padding-bottom: 40px;
}
.mensaje{
  padding-top: 60px;
}
.enviar{
  background-color: #428bca;
  color: white;
}
/* PORTAFOLIO */
.thumbnail{
  color: #FFFFFF;
  width: 90%;
}
.imgport{
  padding-bottom: 20px;
}
.caption{
  height: 30px;
}
/* SERVICIOS */
.what{
  text-align: center;
  padding-bottom: 30px;
}
.fa5{
  border-radius: 100px;
  background: #939393;
  font-size: 25px;
  padding: 20px;
  color: white;
}
.opinion{
  padding-left: 30px;
}

@media screen and (max-width : 667px) {
  .container-fluid{
    width: 100%;
  }
  .img{
    width:100%;
  }
  .col-md-4, .col-md-12, .col-md-5, .col-md-3{
    width: 100%;
  } 
}
@media (min-width: 668px) and  (max-width: 1024px) {
  .container-fluid{
    width: 100%;
  }
  .img{
    width:100%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px){
  .container-fluid{
    width: 100%;
  }
}


