@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.negro{
	background-color: black;
	padding:1%;
}

.banner{
  background-image: url(../images/slider/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 1300px; 
padding: 15% 20% 10% 5%; 
color: white;

background-position: center;

}
.circulo{
	background-color: #2AA597;
}
#pag{
display: inline-block;

background-color: silver;
width: 100%;
}
#home2{
	background-color:#46A262 ;
padding: 7%;
color: white;
}

#rs{
	background-color: #46A262 ;
	font-size: 300% 
}

#home3{
	padding: 7%;
}

}
#homenar{
	text-align: center;
	color:white;
	padding:3%;
}
#anaran{
	background-color: #D94530;
}
#compac{
	padding:2%;
	color: white;
}
#super{
	background-color:#002337;
}
#ult{
	background-color:  #003566;
	color: silver;
	padding:5%;
}
#ult1{
	background-color: #002337;
	color: silver;
	padding-top: 2%;
	padding-left: 2%;
}
a{
color: silver;
}
.navbar-toggle{
	color:#002337;
}


/*1 mezclas de css de blog */
#hi{
	padding: 6%;
}
#blog1{
background-color: #46A262;
padding:2%;
}
#blogmir{
	background-color: white;
	height: 70%;

}
#blogejecut{
	background-color: #E5D6FF;
}
#ikn{
font-size: 15px;
}
 #text{
 	background-color: white;
 	padding:2%;
 }

#descolor{
	background-color: #E5D6FF;
}
img {
    width: 100%;
    height: auto;
}

/*! no funciona por revisar*/







@media screen and (max-width : 667px) {
  .container-fluid{
    width: 100%;
  }
 
  .img{
    width:100%;
  }
  
  .col-md-4, .col-md-12, .col-md-5, .col-md-3{
    width: 100%;
  } 
}

@media (min-width: 668px) and  (max-width: 1024px) {
  .container-fluid{
    width: 100%;
  }
  .img{
    width:100%;
  }
}

@media (min-width: 1025px) and (max-width: 1600px){
  .container-fluid{
    width: 100%;

  }
}