@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.negro{
	background-color: black;
	padding:1%;
}

.tigre{
  background-image: url(../images/slider/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 1250px; 
padding: 15% 20% 10% 5%; 

background-position: center;

}
.circulo{
	background-color: #2AA597;
}
#pag{
display: inline-block;

background-color: silver;
width: 100%;
}
#home2{
	background-color:#46A262 ;
padding: 7%;
color: white;
}

#rs{
	background-color: #46A262 ;
	font-size: 300% 
}

#home3{
	padding: 7%;
}
.fa{
	font-size: 300%;
}









@media screen and (max-width : 667px) {
  .container-fluid{
    width: 100%;
  }
 
  .img{
    width:100%;
  }
  
  .col-md-4, .col-md-12, .col-md-5, .col-md-3{
    width: 100%;
  } 
}

@media (min-width: 668px) and  (max-width: 1024px) {
  .container-fluid{
    width: 100%;
  }
  .img{
    width:100%;
  }
}

@media (min-width: 1025px) and (max-width: 1600px){
  .container-fluid{
    width: 100%;

  }
}